@mixin init() {

  .recomp-bar.horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;

    .start {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-grow: 0;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .center {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .recomp-bar.vertical {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    .start {
      width: 100%;
      display: flex;
      justify-content: stretch;
      flex-direction: row;
      align-items: center;
      flex-grow: 0;
      flex-wrap: nowrap;
      overflow: hidden;

    }

    .center {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      flex-wrap: nowrap;
      flex-direction: column;
      overflow: hidden;
    }

    .end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
    }
  }

}