@mixin init() {

  .recomp-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 100;

    &.animated {
      transition: background-color 0.3s, backdrop-filter 0.3s;
    }

    &.tint {
      background-color: rgba(black, 0.5);
    }

    &.blur {
      backdrop-filter: blur(4px);
    }


    >.container {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

}