@mixin init() {

  $RSH: 2px; // recomp split half size

  .recomp-split {
    display: flex;
    height: 100%;
    flex: 1;
    outline: none;
    overflow: hidden;
    user-select: text;

    > .resizer {
      background: transparent;
      z-index: 1;

      box-sizing: border-box;
      background-clip: padding-box;
      user-select: inherit;

      transition: all 0.3s, transform 0.1s;
    }

    &.horizontal > .resizer {
      height: $RSH + $RSH + 1px;
      margin: -($RSH);
      border-top: $RSH solid rgba(255, 255, 255, 0);
      border-bottom: $RSH solid rgba(255, 255, 255, 0);
      cursor: ns-resize;
      width: 100%;
    }

    &.vertical > .resizer {
      width: $RSH + $RSH;
      margin: -($RSH);
      border-left: $RSH solid rgba(255, 255, 255, 0);
      border-right: $RSH solid rgba(255, 255, 255, 0);
      cursor: ew-resize;
    }
  }

  // Not sure why these don't work when place under nested ".resizer" above?

  .recomp-split > .resizer:hover {
    border-color: rgba(100, 170, 200, 0.5);
  }

  .recomp-split.resizing > .resizer {
    border-color: rgba(100, 170, 200, 0.5);
  }

}