@mixin init() {

  $RSH: 2px; // recomp split half size

  .recomp-resizer {
    background: transparent;
    z-index: 1;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;

    user-select: inherit;
    -moz-user-select: inherit;
    -webkit-user-select: inherit;
  }

  .recomp-resizer.horizontal {
    height: $RSH + $RSH + 1px;
    margin: -($RSH);
    border-top: $RSH solid rgba(255, 255, 255, 0);
    border-bottom: $RSH solid rgba(255, 255, 255, 0);
    cursor: ns-resize;
    width: 100%;
  }

  .recomp-resizer.vertical {
    width: $RSH + $RSH;
    margin: -($RSH);
    border-left: $RSH solid rgba(255, 255, 255, 0);
    border-right: $RSH solid rgba(255, 255, 255, 0);
    cursor: ew-resize;
  }

  .recomp-resizer.center {
    z-index: 2; // center resize appears above other reizers
    width: $RSH + $RSH;
    height: $RSH + $RSH + 1px;
    margin: (-($RSH) - 1px) (-($RSH));
    border-top: $RSH solid rgba(255, 255, 255, 0);
    border-bottom: $RSH solid rgba(255, 255, 255, 0);
    border-left: $RSH solid rgba(255, 255, 255, 0);
    border-right: $RSH solid rgba(255, 255, 255, 0);
    cursor: all-scroll;
  }

  .recomp-resizer {
    transition: all 0.3s, transform 0.1s;

    &:hover {
      border-color: rgba(100, 170, 200, 0.5);
    }

    &.resizing {
      border-color: rgba(100, 170, 200, 0.5);
    }
  }

  .recomp-resizer.disabled {
    cursor: not-allowed;
  }

  .recomp-resizer.disabled:hover {
    border-color: transparent;
  }

  .recomp-split {
    display: flex;
    height: 100%;
    flex: 1;
    outline: none;
    overflow: hidden;
    user-select: text;
  }

}