@use '../common' as recomp;

@mixin init() {

  .recomp-board {
    $border_color: rgba(white, 0.15);
    $border_radius: 6px;

    min-width: 200px;
    min-height: 250px;
    background-color: recomp.$background;
    display: flex;
    flex-direction: column;
    border-radius: $border_radius;
    border: 1px solid $border_color;

    @include recomp.shadow-raised();

    color: rgb(white, 0.85);

    >.header {
      color: rgb(white, 0.7);
      background-color: rgba(black, 0.3);
      border-bottom: 1px solid $border_color;
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 0;

      >.title {
        padding: 8px 16px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      >.control {
        padding: 8px 16px;
        align-self: flex-end;
        display: flex;
      }
    }



    >.body {
      padding: 16px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }

    >.footer {
      display: flex;
      align-self: flex-end;
      padding: 16px;

      >* {
        margin-left: 4px;
        margin-right: 4px;
      }

      >*:first-child {
        margin-left: 0px;
      }

      >*:last-child {
        margin-right: 0px;
      }
    }
  }

}