@use '../common/colors.scss' as recomp;

@mixin init() {

  .recomp-button {
    $default_background: #a3a3a3;
    $default_border: #9ca5a4;

    $primary_background: recomp.$primary;
    $primary_border: lighten(recomp.$primary, 10%);

    $warn_background: #852c33;
    $warn_border: #ca4343;

    color: rgba(255, 255, 255, 0.9);
    background-color: rgba($default_background, 0.1);
    border: 1px solid rgba($default_border, 0.5);

    border-radius: 2px;
    box-shadow: inset rgba(0, 0, 0, 0.0) 0 4px 8px, rgba(0, 0, 0, 0.0) 0px 4px 8px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5em;
    padding: 6px 16px;
    text-align: center;
    white-space: nowrap;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);

    user-select: none;
    touch-action: manipulation;

    &:hover:not(:disabled) {
      box-shadow: inset rgba(0, 0, 0, 0.0) 0 4px 8px, rgba(0, 0, 0, 0.9) 0px 4px 8px;
      background-color: rgba($default_background, 0.2);
      border: 1px solid rgba(lighten($default_border, 20%), 0.6);
    }

    &.primary {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba($primary_background, 0.3);
      border: 1px solid $primary_border;

      &:hover:not(:disabled) {
        background-color: rgba($primary_background, 0.6);
        border: 1px solid lighten($primary_border, 20%);
      }
    }

    &.warn {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba($warn_background, 0.7);
      border: 1px solid $warn_border;

      &:hover:not(:disabled) {
        background-color: rgba($warn_background, 0.8);
        border: 1px solid lighten($warn_border, 10%);
      }
    }

    &:active {
      transition-duration: .1s;
      box-shadow: inset rgba(0, 0, 0, 0.3) 0 4px 8px, rgba(0, 0, 0, 0.9) 0px 4px 8px;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .6;

      &:hover {
        box-shadow: none;
      }
    }
  }

}