@mixin init() {

  .recomp-dialog {
    background-color: transparent;
    border: none;
    padding: 0;

    &::backdrop {
      background-color: rgba(20, 20, 20, 0.5);
      backdrop-filter: blur(2px);
    }
  }
}