@use '../common' as recomp;

@mixin init() {

  .recomp-entry {
    display: inline-block;
    background-color: recomp.$bg_lighter;
    color: rgba(white, 0.75);
    border-width: 0px;
    padding: 4px 8px;
    min-width: 200px;
    transition: outline 0.3s;
    outline: 1px solid transparent;
    line-height: normal;

    &:focus {
      outline-color: recomp.$primary;
    }

    &.disabled {
      color: rgb(128, 128, 128);

      &:focus {
        outline-color: rgb(64, 64, 64);
      }
    }
  }

}