@use '../common/colors.scss' as recomp;

@mixin init() {

  .recomp-entry {
    display: inline-block;
    background-color: rgb(40, 40, 40);
    color: rgba(white, 0.75);
    border-width: 0px;
    padding: 4px 8px;
    min-width: 200px;
    transition: outline 0.3s;
    outline: 1px solid transparent;
    line-height: normal;

    &:focus {
      outline: 1px solid recomp.$primary;
    }

    &.disabled {
      color: rgb(128, 128, 128);
    }
  }

}