@use '../common' as recomp;

@mixin init() {

  .recomp-select {
    background-color: recomp.$background;
    color: rgba(white, 0.75);
    border-width: 0px;
    padding: 4px 8px;
    min-width: 200px;
    outline: 1px solid transparent;

    &:focus {
      outline-color: recomp.$primary;
    }

    &.disabled {
      color: rgb(128, 128, 128);

      &:focus {
        outline-color: rgb(64, 64, 64);
      }
    }
  }

}