@use '../common' as recomp;

@mixin init() {

  .recomp-textarea {
    background-color: recomp.$bg_lighter;
    color: rgba(white, 0.75);
    border-width: 0px;
    padding: 4px 8px;
    min-width: 200px;
    min-height: 1.4em;

    &:focus {
      outline: recomp.$primary solid 1px;
    }
  }

}