@use "sass:color" as color;

@use '../common' as recomp;

@function saturate_then_lighten($color, $saturation_amount, $lighten_amount) {
  @return color.scale(color.scale($color,
      $saturation: $saturation_amount ),
    $lightness: $lighten_amount );
}

@mixin init() {

  .recomp-tooltip {
    $tooltip_border: saturate_then_lighten(recomp.$primary, 60%, 20%);
    $tooltip_background: saturate_then_lighten(recomp.$primary, -10%, -40%);

    position: relative;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.75);
    background-color: $tooltip_background;
    border: 1px solid $tooltip_border;
    border-radius: 2px;
    box-shadow: rgba(30, 30, 30, 0.3) 0 4px 8px,
      rgba(30, 30, 30, 0.7) 0px 4px 4px;
    padding: 4px 8px;
    display: inline-block;

    .body {
      display: inline-block;
      white-space: nowrap;

    }

    .triangle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      .outline {
        position: absolute;
        color: $tooltip_border;
      }

      &.top .outline {
        filter: drop-shadow(0px 4px 2px rgba(20, 20, 20, 0.5));
      }

      &.right .outline {
        filter: drop-shadow(-4px 0px 2px rgba(20, 20, 20, 0.5));
      }

      // &.bottom .outline {
      //   // no shadow (arrow on top)
      // }

      &.left .outline {
        filter: drop-shadow(4px 0px 2px rgba(20, 20, 20, 0.5));
      }

      .inner {
        position: absolute;
        color: $tooltip_background;
        transform: translateY(0.5px);
      }
    }
  }

  .recomp-tooltip-context {
    pointer-events: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 100;

    >.offset {
      position: fixed;

      // left: 50%;
      transform: translateX(-50%) translateY(16px);
    }
  }

}