@use '@recomp/core' as recomp;
@use 'sass:color';

@mixin init() {

  $hint: color.adjust(recomp.$primary, $lightness: 20%, $saturation: 20%);
  $hover: color.adjust(recomp.$primary, $lightness: 30%, $saturation: 25%);
  $active: color.adjust(recomp.$primary, $lightness: 30%, $saturation: 25%);

  .recomp-coast {
    background-color: recomp.$background;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;

    // If right, tooltip is on the left and vice-versa

    .tooltip-overlay {
      pointer-events: none;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 100;

      .tooltip {
        position: absolute;
      }
    }



    .hint {
      position: absolute;
      width: 49px;
      height: 50px;
      pointer-events: none;
    }

    &.right .hint {
      border-right: 2px solid $hint;
    }

    &.left .hint {
      border-left: 2px solid $hint;
    }

    .bar {
      display: flex;
      flex-direction: column;
      display: inline-block;
    }

    .tabs {
      position: relative;
      display: inline-block;

      .tab {
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s, transform 0.1s;

        &:hover {
          color: $hover;
        }

        &.active {
          color: $active;
        }
      }
    }

    .controls {
      position: relative;
      display: inline-block;

      .control {
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s, transform 0.1s;

        &:hover {
          color: $hover;
        }

        &.active {
          color: $active;
        }
      }
    }

  }

}