@use '@recomp/core' as recomp;

@mixin init() {

  .recomp-coast {
    background-color: recomp.$background;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;

    // If right, tooltip is on the left and vice-versa

    .tooltip-overlay {
      pointer-events: none;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 100;
    }

    &.right .tooltip {
      position: absolute;
    }

    &.left .tooltip {
      position: absolute;
    }

    .hint {
      position: absolute;
      width: 49px;
      height: 50px;
      pointer-events: none;
    }

    &.right .hint {
      border-right: 2px solid lighten(recomp.$primary, 30%);
    }

    &.left .hint {
      border-left: 2px solid lighten(recomp.$primary, 30%);
    }

    .bar {
      display: flex;
      flex-direction: column;
      display: inline-block;
    }

    .tabs {
      position: relative;
      display: inline-block;

      .tab {
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s, transform 0.1s;

        &:hover {
          color: lighten(recomp.$primary, 40%);
        }

        &.active {
          color: white;
        }
      }
    }

    .controls {
      position: relative;
      display: inline-block;

      .control {
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s, transform 0.1s;

        &:hover {
          color: lighten(recomp.$primary, 40%);
        }
      }
    }

  }

}