@use '@recomp/core' as recomp;

$hover: rgba(recomp.$primary, 0.5);

@mixin select() {
  margin: -1px;
  border: 1px solid lighten(recomp.$primary, 30%);
  background-color: $hover;
}

@mixin init() {

  .recomp-folder {
    user-select: none;
    // display: inline-flex;

    @include recomp.scrollbar($width: 4px);

    .scrollable {
      // display: block;
      overflow-y: scroll;
      @include recomp.scrollbar($width: 4px);
    }

    .body {
      position: relative;
    }

    .item.selected-all {
      @include select();
    }

    .item.selected-head>.head {
      @include select();
    }

    .line-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .control {
        width: 16px;
      }

      .icon {
        width: 20px;
        height: 16px;
        padding-left: 0px;
        padding-right: 4px;

        &.folder {
          color: #FFE792;
        }

        &.file {
          // color: #79C1EA;
          color: lighten(recomp.$primary, 20%);
        }

      }
    }

    .head {
      height: 24px;

      &:hover {
        background-color: $hover;
      }
    }

    .line {
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      background-color: rgba(100, 100, 100, 0.5);
    }

    .label {
      width: 100%;
      height: 22px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}