@use '@recomp/core';
@use '@recomp/coast';
@use '@recomp/dropzone';
@use '@recomp/edge';
@use '@recomp/flashcard';
@use '@recomp/folder';
@use '@recomp/herald';
@use '@recomp/katex';
@use '@recomp/menu';
@use '@recomp/monaco';
@use '@recomp/prism';
@use '@recomp/seek';
@use '@recomp/titlebar';

@include core.init();
@include coast.init();
@include dropzone.init();
@include edge.init();
@include folder.init();
@include flashcard.init();
@include herald.init();
@include katex.init();
@include menu.init();
@include monaco.init();
@include prism.init();
@include seek.init();
@include titlebar.init();

#root {
  @include core.global();
  color: rgba(white, 0.9);
}

.docs-story {
  @include core.global();
  color: rgba(white, 0.9);
}

.bar-start {
  color: white;
  min-width: 100px;
  padding: 4px 4px;
  background-color: #946051;
}

.bar-center {
  color: white;
  width: 100%;
  padding: 4px 4px;
  background-color: #517094;
}

.bar-end {
  color: white;
  min-width: 100px;
  padding: 4px 4px;
  background-color: #6f9451;
}

@mixin split-panel() {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.split-left {
  @include split-panel();
  background-color: rgba(30, 0, 0, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.split-right {
  @include split-panel();
  background-color: rgba(0, 0, 30, 0.5);
}

.split-top {
  @include split-panel();
  background-color: rgba(30, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.split-bottom {
  @include split-panel();
  background-color: rgba(0, 0, 30, 0.5);
}


.scrollpane {
  max-height: 300px;
  padding: 30px;
}

.scroll-container {
  max-height: 300px;
  padding: 30px;
}

.right-template {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.titlebar-container {
  height: 30px;
  background-color: core.$bg_darker;
}

.folder-wrapper {
  background-color: rgba(10, 10, 10, 0.5);
  padding: 8px;
  border-radius: 4px;
  @include core.shadow();
}

.top-left {
  font-size: 24px;
  @include core.fill();
  @include core.center();
  border-right: 1px solid rgba(100, 100, 100, 0.5);
  background-color: rgba(30, 0, 0, 0.5);
}

.top-right {
  font-size: 24px;
  @include core.fill();
  @include core.center();
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  background-color: rgba(0, 0, 30, 0.5);
}

.bottom-right {
  font-size: 24px;
  @include core.fill();
  @include core.center();
  border-left: 1px solid rgba(100, 100, 100, 0.5);
  border-top: 1px solid transparent;
  background-color: rgba(27, 30, 0, 0.5);
}

.bottom-left {
  font-size: 24px;
  @include core.fill();
  @include core.center();
  border-top: 1px solid rgba(100, 100, 100, 0.5);
  background-color: rgba(0, 30, 4, 0.5);
}