@use '@recomp/menu';

@mixin init() {
  @include menu.init();
  @include master();
}

$default_background: transparent;
$default_hover: rgba(180, 180, 180, 0.3);
$default_color: #f8f8f8;
$default_button_width: 30px;

@mixin titlebar($backgroundColor: $default_background, $fontColor: $default_color) {
  position: relative;
  background-color: $backgroundColor;
  color: $fontColor;
  -webkit-app-region: drag;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 12px;
  user-select: none;
  z-index: 2000;
}

@mixin titleicon($backgroundColor: $default_background) {
  position: relative;
  z-index: 1000;
  background-color: $backgroundColor;
  width: 20px;
  height: 100%;
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menubar($backgroundColor: $default_background) {
  background-color: $backgroundColor;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 1000;
}

@mixin menubutton($backgroundColor: $default_background, $backgroundColorHover: $default_hover) {
  position: relative;

  background-color: $backgroundColor;
  height: 100%;
  -webkit-app-region: no-drag;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  .highlight {
    position: absolute;
    inset: 4px 2px;
    z-index: 0;
    transition: background-color 0.2s;
    border-radius: 4px;
  }

  .label {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
  }

  &:hover .highlight {
    background-color: $backgroundColorHover;
  }

  &.active .highlight {
    background-color: $backgroundColorHover;
  }
}

@mixin header() {
  position: relative;
  z-index: 1000;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
}

@mixin controlbar($backgroundColor: $default_background) {
  position: relative;
  z-index: 1000;
  background-color: $backgroundColor;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

@mixin controlbutton($backgroundColor: $default_background,
  $backgroundColorHover: $default_hover,
  $closeButtonSelector: '.close',
  $closeButtonColorHover: rgba(red, 0.75),
  $buttonWidth: $default_button_width) {

  background-color: $backgroundColor;
  -webkit-app-region: no-drag;
  padding-left: 8px;
  padding-right: 8px;
  width: $buttonWidth;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: $backgroundColorHover;
  }

  &#{$closeButtonSelector}:hover {
    background-color: $closeButtonColorHover;
  }
}

@mixin master($titlebar_selector: '.recomp-titlebar',
  $titleicon_selector: '.titleicon',
  $menubar_selector: '.menubar',
  $menubutton_selector: '.button',
  $submenu_offset: '.menu-offset',
  $titleheader_selector: '.header',
  $controlbar_selector: '.controlbar',
  $controlbutton_selector: '.button',
  $close_selector: '.close',
  $fontColor: $default_color,
  $backgroundColor: $default_background,
  $hoverColor: $default_hover,
  $controlButtonWidth: $default_button_width) {

  #{$titlebar_selector} {
    @include titlebar($backgroundColor: $backgroundColor,
      $fontColor: $fontColor,
    );

    #{$titleicon_selector} {
      @include titleicon();
    }

    #{$menubar_selector} {
      @include menubar();

      >#{$menubutton_selector} {
        @include menubutton($backgroundColorHover: $hoverColor,
        );
      }
    }

    #{$submenu_offset} {
      position: fixed;
    }

    #{$titleheader_selector} {
      @include header();
    }

    #{$controlbar_selector} {
      @include controlbar();

      >#{$controlbutton_selector} {
        @include controlbutton($backgroundColorHover: $hoverColor,
          $closeButtonSelector: $close_selector,
          $buttonWidth: $controlButtonWidth,
        );
      }
    }
  }
}