@use '@recomp/core' as recomp;

@mixin init() {

  $border_color: rgb(90, 90, 90);
  $background_color: rgb(30, 30, 30);
  $hover_color: rgb(60, 60, 60);

  .recomp-menu {

    .item,
    .group {
      user-select: none;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-grow: 1;
      padding: 4px;

      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: hidden;

      .highlight {
        $inset: 0px 4px 0px 4px;
        position: absolute;
        inset: $inset;
        z-index: 0;
        transition: background-color 0.3s;
        border-radius: 4px;
      }

      &:hover .highlight {
        background-color: $hover_color;
      }
    }

    .component {
      padding: 4px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 1;
      width: 20px;
      height: 20px;
      padding-left: 4px;
    }

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0px 24px 0px 8px;
      z-index: 1;
    }

    .accelerator,
    .caret {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      z-index: 1;
    }

    .accelerator {
      color: rgb(180, 180, 180);
      padding: 0px 24px 0px 24px;
    }

    .caret {
      padding: 0px 0px 0px 24px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .separator {
      $separator-width: 5px;
      $separator-margin: 12px;
      min-height: $separator-width;
      border-bottom: 1px solid $border_color;
      margin-bottom: $separator-width;
      margin-left: 0px;
      margin-right: 0px;
    }

    .menu {
      position: fixed;
      z-index: 10;

      font-size: 12px;
      display: inline-block;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
      min-width: 200px;
      background-color: $background_color;
      padding: 8px 0 8px 0;
      border: 1px solid $border_color;
      border-radius: 4px;
    }

    .overlay {
      pointer-events: none;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 10;

      .offset {
        position: relative;
      }

      .menu {
        pointer-events: all;
      }
    }

  }

  .recomp-menu-context {
    position: fixed;
  }

}